.builds.build.row
  .span9
    .page
      .header.no-avatar
        %h1= @build.name
      - if @build.video
        %iframe.youtube{:allowfullscreen => "", :frameborder => "0", :height => "500", :src => "http://www.youtube.com/embed/#{@build.video}", :width => "100%"}
      - if @build.body != ""
        .body.show
          != render_markdown(@build.body)
    .comments#comment-list
      = comments_for @build

  .sidebar.scroll.span3
    - if current_user && (current_user.username == @build.user.username || current_user.role == "egocentric")
      .admin
        %a.btn.edit{:href => edit_build_path(@build.id)} Edit
        = link_to "Delete", build_path, :method => :delete, :class => "btn delete"
    - if current_user && current_user.role == "egocentric"
      .admin.type
        = link_to "None", select_build_path(@build.id), :class => "btn"
        = link_to "Approve", select_build_path(@build.id, :select => "approved"), :class => "btn"
        = link_to "Feature", select_build_path(@build.id, :select => "featured"), :class => "btn"
    %ul.nav
      %li.top
      %li.meta
        .left 
          Author
        .right
          %a{:href => "#"}
            = @build.user.username
      %li.meta
        .left Date
        .right
          = format_date(@build.created_at)
      %li.meta
        .left Category
        .right
          = @build.category.capitalize
      - if !(@build.map == "")
        %li.meta
          .left Map
          .right
            = @build.map.gsub(/\b\w/){$&.upcase}
      - if @build.more_from_category != []
        %li.list
          %div 
            %h1 More from #{@build.category}
            %ul
              - @build.more_from_category.each do |g|
                %li
                  %a{:href => build_path(g)}
                    != truncate(g.name, 30)
      %li.sidebar-comment.meta
        .left Comments
        .right 
          %span.comments= @build.all_comments.count 
      %li.rating
        .left rating
        #average.right
          = ratings_for @build, :static, :dimension => :rating
      %li.rating
        .left rate
        #rates.right
          - if current_user
            = ratings_for @build, :show_user_rating => true, :dimension => :rating
          - else
            %span Must be logged in

